<div class="mt-4">
    <h3>Dang khoa hoc</h3>
    <form>
  <div class="mb-3">
    <label for="description">Mô tả</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="mb-3">
    <label for="name">Mô tả</label>
    <input type="text" class="form-control" id="name" name="description">
  </div>
  <div class="mb-3">
    <label for="image">Mô tả</label>
    <input type="text" class="form-control" id="image" name="description">
  </div>
  <div class="mb-3">
    <label for="description">Mô tả</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
  
  <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>